[run]
branch = True
source = mountainbay_autodiff

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    setup.py
    versioneer.py
    tests/*
    mountainbay_autodiff/_version.py
    mountainbay_autodiff/__init__.py
